body {font-family:'Annie Use Your Telescope', cursive
; 
background-color: {#f9f1eb}


h1 { font-size: 50px
	}

	
} 

h2 { font-size: 30px

 }

h3 { font-size: 30px
 }

 h4 { font-size: 30px
 }

 h5 { font-size: 30px
 }

h6 { font-size: 30px
 }
 #Text { font-size: 30px
 }

 li { font-size: 25px

 }
.navbar-inverse {
  background-color:#2a2324; 
}
.navbar-inverse .navbar-brand {
    color: white;
    font-family:'Annie Use Your Telescope', cursive;
    font-size:25px;
}

#photo { margin-left: 50px

}
#Img { margin-left: 50px

}
#lol {
   margin-top: 50px
}

#f7f4f6#85758a